<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container">
    <h1 class="display-4 mb-4">contents</h1>

    <p>{{.Message}}</p>
    <ul class="list-group">
    {{ range $index, $element := .Items}}
    <li class="list-group-item">{{$index}}: {{$element}}</li>
    {{ end }}
    </ul>
</body>
</html>
